<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title><b>3</b></ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="fecharModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-img src="/assets/img/3.jpg"></ion-img>
  <ion-img src="/assets/img/respostas/3r.jpg"></ion-img>

  <ion-card>
    <ion-text color="primary">
      <h3>Aqueles com visão de cor normal veem um <b>3</b>.<br>
        Aqueles com cegueira para as cores vermelha e verde veem um <b>5</b>. <br>
        Já aqueles com daltonismo total não veem nada.
      </h3>
    </ion-text>
  </ion-card>

</ion-content>