<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Resultado</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <br>
  <ion-label color="primary">
    <div class="ion-text-center">
      <h2>
        Se você errou mais que 4 placas é melhor procurar um oftalmologista!<br>
      </h2>
      <br>
      <h2>
        Para saber as respostas certas toque nas placas:
      </h2>
    </div>
  </ion-label>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/3.jpg" (click)="chamarModal3()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/8.jpg" (click)="chamarModal8()"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/12.jpg" (click)="chamarModal12()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/26.jpg" (click)="chamarModal26()"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/42.jpg" (click)="chamarModal42()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/74.jpg" (click)="chamarModal74()"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/2.jpg" (click)="chamarModal2()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/5.jpg" (click)="chamarModal5()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/6.jpg" (click)="chamarModal6()"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/7.jpg" (click)="chamarModal7()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/15.jpg" (click)="chamarModal15()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/16.jpg" (click)="chamarModal16()"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/29.jpg" (click)="chamarModal29()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/45.jpg" (click)="chamarModal45()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/73.jpg" (click)="chamarModal73()"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>