<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Resultado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart($event)" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd($event)">

  <br><br><br><br>

  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/12.jpg" (click)="chamarModal12()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/42.gif"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/12.jpg" (click)="chamarModal12()"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/42.gif"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/12.jpg"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/12.jpg"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/12.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/12.jpg"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/12.jpg"></ion-img>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-img src="/assets/img/12.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" (click)="chamarModal12()"> Clique Aqui </ion-button>

</ion-content>