
<ion-content>

  <br>
  <br>
  <br>
  <ion-card>
    <ion-text color="primary">
      <h3>Todas as pessoas devem ver um número 12, incluindo aqueles com daltonismo total.
        <br>
        (Se alguém disser que não vê nada ou algo mais, está mentindo!)</h3>
    </ion-text>
  </ion-card>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="fecharModal()" color="medium">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-img src="/assets/img/12.jpg"></ion-img>
  <!-- <ion-img src="/assets/img/respostas/12r.jpg"></ion-img>-->

</ion-content>