<ion-header>
  <ion-toolbar>
    <ion-title>Registrar-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-img src="assets/icon/logo-backtransparent.png"></ion-img>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <ion-button
    class="ion-padding"
    color="primary"
    expand="block"
    (click)="register(user)"
  >
    Registrar
  </ion-button>
  <ion-button
    class="ion-padding"
    color="light"
    expand="block"
    [routerLink]="['/login']"
  >
    Cancelar
  </ion-button>
</ion-content>
