<ion-header>
  <ion-toolbar>
    <ion-title>12</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="fecharModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    <ion-img src="/assets/img/8.jpg" ></ion-img>
    <ion-img src="/assets/img/8.jpg" ></ion-img>


  <ion-text color="primary">
    <h3>Todas as pessoas devem ver um número 12, incluindo aqueles com daltonismo total.
      <br>
      (Se alguém disser que não vê nada ou algo mais, está mentindo!</h3>
  </ion-text>
</ion-content>