<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Teste de Ishihara</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>



<br>
<br>

  <ion-img [src]="randomImage"></ion-img>


<ion-item>
  <ion-label position="stacked">Que número você vê?</ion-label>
  <ion-input id="response" (change)="getUserResponse()" placeholder="Resposta" required clearInput value="" type="number" placeholder="Resposta"></ion-input>
</ion-item>

  <ion-button
    class="ion-padding"
    color="primary"
    expand="block"
    (click)='submit(splitRandomNumber(randomImage), userResponseNumber)'
  >
    Enviar
  </ion-button>
</ion-content>