<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/icon/logo-backtransparent.png" alt=""></ion-img>

  <ion-button
    class="ion-padding"
    color="light"
    expand="block"
    [routerLink]="['/teste']"
  >
    Teste de Ishihara
  </ion-button>

  <ion-button
    class="ion-padding"
    color="light"
    expand="block"
    [routerLink]="['/sobre']"
  >
    Sobre o Daltonismo
  </ion-button>

  <ion-button
    class="ion-padding"
    color="light"
    expand="block"
    [routerLink]="['/visao']"
  >
    Visão do Daltônico
  </ion-button>
  
</ion-content>
