<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title><b>42</b></ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="fecharModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-img src="/assets/img/42.jpg"></ion-img>
  <ion-img src="/assets/img/respostas/42r.jpg"></ion-img>


  <ion-card>
    <ion-text color="primary">
      <h3>
        Pessoas com distúrbio para cor vermelha <b>(Protanopia)</b> vão ver um <b>2</b>, e talvez um 4 fraco.
        <br>
        Pessoas com distúrbio para a a cor verde <b>(Deuteranopia)</b> vão ver um <b>4</b>, e talvez um 2 fraco.
      </h3>
    </ion-text>
  </ion-card>


</ion-content>