<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title><b>7</b></ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="fecharModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    <ion-img src="/assets/img/7.jpg" ></ion-img>
    <ion-img src="/assets/img/respostas/7r.jpg" ></ion-img>


</ion-content>