<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<img src="assets/icon/logo-backwhite.jpeg">

<ion-content>
  <ion-item>
    <ion-label position='floating'>E-mail</ion-label>
    <ion-input type='email' required></ion-input>  
  </ion-item>

  <ion-item>
    <ion-label position='floating'>Senha</ion-label>  
    <ion-input type='password' required></ion-input>  
  </ion-item>

  <ion-button class='ion-padding' color='primary' expand='block'>
    Login
  </ion-button>

  <ion-button class='ion-padding' color='light' expand='block'[routerLink]="['/register']">
    Registre-se
  </ion-button>
  
</ion-content>
