<ion-header>
  <ion-toolbar>
    <ion-title>Visão do Daltônico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>Protanopia</ion-item>
    
    <ion-text>
      <p align ="justify">
        Daltônicos desse tipo têm uma redução ou completa ausência do pigmento
        vermelho e, por isso, quando vêem a cor, enxergam tons de marrom, verde
        e cinza, dependendo do objeto. Nesses casos, eles também costumam ver o
        verde bem parecido com o vermelho. Esse é o tipo de daltonismo mais
        comum.
      </p>
    </ion-text>
  </ion-list>
</ion-content>
