<ion-header>
  <ion-toolbar>
    <ion-title>Visão do Daltônico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>
    <br>
    <br>
    <br>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="/assets/img/1.jpg">
      </ion-slide>
      <ion-slide>
        <img src="/assets/img/2.jpg">
      </ion-slide>
      <ion-slide>
        <img src="/assets/img/3.jpg">
      </ion-slide>
    </ion-slides>
    <br>
    <br>
    <p>Aqui estão representadas as formas como cada tipo de daltonismo enxerga o mundo.</p>
  </ion-content>
</ion-content>